@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Light Mode Base */
    --background: 250 250 250;
    --foreground: 24 24 27;
}

[data-theme="dark"] {
    /* Dark Mode Base */
    --background: 9 9 11;
    --foreground: 250 250 250;
}

body {
    color: rgb(var(--foreground));
    background: rgb(var(--background));
}

/* Nickel Texture */
.bg-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 50;
    opacity: 0.04;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #a1a1aa;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #71717a;
}
